.timesheet-page {
    display: flex;
    min-height: 100vh;
  }

  .sidebar-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* .sidebar-layout{
    position: relative;

  } */
  
  .sidebar {
    width: 250px;
    background-color: #a91313;
    color: #fff;
    position: fixed;
    top: 5;
    left: 0;
    margin-top: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-top: 20px; */
    transition: transform 0.3s ease;
    z-index: 999;
  }
  
  .sidebar-hidden {
    transform: translateX(-100%);
  }
  
  .sidebar .sidebaritem {
    display: flex;
    flex-direction: column;
    /* padding-left: 20px; */
  }
  
  .sidebar .sidebaritem a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    text-indent: 10%;
    font-size: 12px;
  }
  
  .sidebar .sidebaritem a:hover {
    background-color: #d6141485;
    border-radius: 5px;
  }
  
  .sidebar .sidebaritem a.active {
    background-color: #dc2e57;
    border-radius: 5px;
  }
  
  .sidebar-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #a91313;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  

  .logoutButtonWrapper {
    margin-top: auto; /* This pushes the logout button to the bottom */
    padding: 20px;
  }

  
