/* Root element styling */

  /* Dashboard layout styling */
  .dashboard-layout {
    
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* margin-left: 250px; */
    display: flex;
    transition: margin-left 0.3s ease-in-out;
  }

  /* .timesheet-page.sidebar-open .dashboard-layout { */
    /* margin-left: 250px; Adjust content when sidebar is open */
  /* } */
  
  /* .table-heading-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 10px;
    background-color: white;
    color : black
  }
  
  .table-heading-individual-component{
    padding: 2px 60px;
    background-color: #00b4d8;
  } */
  
  .infocard-flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    margin: 10px;
    color: black;
    /* border : 2px solid black; */
    width: 90vw;
    gap: 5vw;
    margin-bottom: 20px;
  }
  
  .infocard {
    border-radius: 8px;
    padding: 20px 20px;
    text-align: center;
    width: 90vw;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .timesheet {
    height: 450px;
    width: 90vw;
    margin : 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .previous-records-flexBox {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    color: black;
    margin: 10px;
    width: 90vw;
    gap : 15px;
  }
  
  .prev-records {
    width: 90vw;
    height: 100px;
    color: black;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: start;
  }

  .errors {
    color: red;
  }

  /* .form-container {
  /* margin: 2px auto; */
    /* border-top: 1px solid #dc3333; */
 
    /* Red border */
    /* padding: 2px; */
    /* Padding inside the border */
 
.header-ribbon {
  margin-top: 6px;
  display: flex;
  align-items: center;
 
  /* justify-content: space-between; */
  /* background-color: #dc3333; */
  width: 100%;
  padding: 1vh 20px;
}
 
.logo {
  height: 5vh;
  margin-left: 1vh;
}
 
.title {
  flex-grow: 0.8;
  margin-top : px;
  text-align: center;
}
 
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px auto;
}
 
.separator {
  border-right: 2px dotted #848bae; /* Customize the style as needed */
}

.current-week {
  background-color: #bde0fe  !important; /* Yellow background */
}

/* Hide the spin buttons for number input fields */
.hide-spinner input[type='number']::-webkit-outer-spin-button,
.hide-spinner input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-spinner input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

