/* body {
  background-color: #fff;
  align-items: center;
  justify-content: center;
  color : black;
} */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  /* Ensure full width */
  background-color: #fff;
  align-items: center;
  justify-content: center;
  color: black;
}

/* .form-container {
  /* margin: 2px auto; */
    /* border-top: 1px solid #dc3333; */

    /* Red border */
    /* padding: 2px; */
    /* Padding inside the border */ 

.header-ribbon {
  margin-top: 6px;
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
  /* background-color: #dc3333; */
  width: 100%;
  padding: 1vh 20px;
}

.logo {
  height: 5vh;
  margin-left: 1vh;
}

.title {
  flex-grow: 0.8;
  margin-top : px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px auto;
}
